body{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}
#search-button{
    background-color: aqua;
    margin-left: 20px;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#city-input{
    padding: 5px 5px;
    font-size: 20px;
}
#container img{
    background: url(./../image/bg-image.jpg);
}